package service

import (
	"context"

	{{.DomainPkg}} "{{.DomainImportPath}}"
	out "{{.PortOutImportPath}}"
)

type {{.Entity}}Service struct {
	repo out.{{.Entity}}Repository
}

func New{{.Entity}}Service(repo out.{{.Entity}}Repository) *{{.Entity}}Service {
	return &{{.Entity}}Service{repo: repo}
}
{{range .Methods}}
func (s *{{$.Entity}}Service) {{.Name}}(ctx context.Context, req *{{$.DomainPkg}}.{{.Input}}) (*{{$.DomainPkg}}.{{.Output}}, error) {
	panic("sgo: TODO implement {{.Name}}")
}
{{end}}
